body {
	background: black;
}

.mainbox {
	background: purple;
}
.mainimage {
	border-radius: 50%;
	border: 1px solid white;
	width: 15%;	
}

.habilidades {
	background: yellow;
}
.personalinfo {
	background: blue;
	color: grey;
}

.personalinfo div {
	border: 2px dashed gold;
}

.projectsbox {
	background: olive;
	margin-top: 1%;
	margin-bottom: 1%
}

.projectsbox div {
	border: 2px dashed gold;
	font-size: 70%;
}

.footerbox {
	background: red;
}
#maintitle {
	color: green;
	border: 2px solid gold;
}

#subtitle {
	color: green;
	border: 2px solid gold;
}
