body {
	background: black;
}

.mainbox {
	background: black;
}
.mainimage {
	border-radius: 50%;
	border: 2px solid white;
	width: 20%;	
}

.habilidades {
	background: yellow;
	border: 2px dashed blue;
}
.personalinfo {
	background: blue;
	color: grey;
}

.personalinfo div {
	border: 2px dashed gold;
}

.projectsbox {
	background: olive;
	margin-top: 1%;
	margin-bottom: 1%;
}

#tarjeta {
	border: 2px dashed gold;
	font-size: 15px;
}

.footerbox {
	background: red;
}
#maintitle {
	color: white;
	border: 2px solid gold;
	
}

#subtitle {
	color: white;
	border: 2px solid gold;
	padding: 0px;
}

#imgproyect {
	border: 2px solid blue;
	margin: 0px;
	padding: 0px;
	
}

#aboutme {
	width: 50%;
	border: 2px solid red;
}
